.notes-field {
  background: var(--color-bg);
  border: 1px solid var(--color-secondary-light);
  border-radius: var(--radius-medium);
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  padding: var( --spacing-medium);
  height: 500px;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  resize: none;
  font-family: inherit;
  font-size: var(--font-size-body1);
  background-color: var(--color-bg);
}

.notes-field.readonly {
  background-color: var(--color-bg);
  color: var(--color-secondary);
  cursor: not-allowed;
}
