.sandwich-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}


.row {
  display: flex;
  align-items: center;
  gap: 20px;
}


.checkbox-row {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: var(--font-size-body1);
}

.styled-checkbox {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #ccc;
  border-radius: 3px;
  cursor: pointer;

  position: relative;
  top: 2px;
}

.checkbox-inline {
  padding-left: 20px;
  font-size: var(--font-size-body1);
}

.styled-checkbox:checked {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.styled-checkbox:checked::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 0px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

